@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: rgb(216, 214, 214);
  color: rgb(241, 160, 29);
  
}
@keyframes mega {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-mega {
  animation: mega 160ms ease-out forwards;
}